/* notamental:pensar en texto para los lorems*/ 
/* GENERAL */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
body{
    background: rgb(233,225,211);
    background: linear-gradient(180deg, rgba(233,225,211,1) 0%, rgba(242,237,229,1) 48%, rgba(248,245,240,1) 90%, rgba(250,249,245,1) 100%, rgba(255,255,255,1) 100%);
}
h1{
    width: 120%;
}
h1 a{
    color:#707070;
    font-size: 2rem;
    font-weight: normal;
    font-family:'Consolas', sans-serif;
    text-decoration: none;
}
h2{
    color:#707070;
    
    text-decoration: none;
  
    font-family:'Consolas', sans-serif; 
}
h3{
    color:#707070;

    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    padding-bottom:2%;
    font-family:'Consolas', sans-serif; 
}
p{
    font-size: 1.875rem;
    color:#707070;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    margin:1% 1% 0%
}
.relleno{
    background-color:#707070;
    color:#707070;
    position: relative;
    top:-5px;
    font-size: 1rem;
    z-index: 3;
}
/*HEADER*/

.nav_bar{
display:flex;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap;
}
.logo{
    padding:2%
}
#menu_bar{
    background: rgb(233,225,211);
    background: linear-gradient(180deg, rgba(233,225,211,1) 0%, rgba(242,237,229,1) 61%, rgba(245,241,234,1) 100%, rgba(248,245,240,1) 100%, rgba(250,249,245,1) 100%, rgba(255,255,255,1) 100%);
}
/*MENU */
.menu{
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style-type: none;
}
.menu li a{
    text-decoration: none;
    color:#707070;
    padding: 100% 0% 0%;
    font-family:'Consolas', sans-serif;
    font-size: 1.5rem;
    transition: 0.3s;
}
.menu li a:hover{
    color:#ECE2D0;
    background-color:#A26769;
}
.menu_responsive{display: none;}
/*SECTION*/
/* HOMEPAGE */
/*HOME 1 */
.textbox{
    position: absolute;
    top:25%;
    left:10%;
    width: 40%;
    margin: 2%;
}
.textbox_p_responsive{display:none;}
.textbox h2{
    font-size: 2rem;
    font-weight: normal;
}
.textbox_p{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
}
.imgbox{
    position: relative;
    display: inline-block;
    text-align: center;
}
.imgbox img{
    width: 100%;
}
/*HOME 2 */

/*.home_2 img{
    width: 15%;
    height: 15%;
    position:relative;
    top:-5px;
}
*/
.home_2{
    display:flex;
}
.textbox_2{
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    align-items:center;

}
.textbox_2 h2{
    font-family: 'Didact Gothic', sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    width: 35%;
    padding: 1%;
    text-align: center;
}
.textbox_2 p{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
}
.textbox_2 h4{
    margin: 5% 0%;
    width: 50%;
    text-align:center;
}
.textbox_2 h4 a{
    text-decoration: none;
    color:#707070;
    background:#E8E0D1;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    padding: 2% 10%;
    border:#707070 ridge 0.5px;
    transition: 0.3s;
}
.textbox_2 h4 a:hover{
    color:#ECE2D0;
    background-color:#A26769;
}
/*DISCOVER*/
.discover_img_fondo{
    position: relative;
    display: inline-block;
    text-align: center;
}
.discover_img_fondo img{width:100%;}
.discover_img_fondo_text{
    background:rgba(0, 0, 0, 0.61);
    position: absolute;
    bottom:0%;
    width: 100%;
}
.discover_img_fondo_text h2{
    color: white;
    font-size: 5rem;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
}

.discover_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.discover_grid h3{font-weight:normal; font-size: 4rem;}
.discover_grid_art_1{grid-area:1/1/1/2;}
.discover_grid_art_2{grid-area:2/2/2/3;}
.discover_grid_art_3{grid-area:3/1/3/2;}
.discover_text_mod{
    padding: 30% 5% 5%;
    text-align: center;
}
.discover_text_mod p{margin: 10% 5% 0%;}
.discover_img_size{height:973px}
.discover_grid_art_img_1{
    grid-area:1/2/1/3;
    background: url(../img/discover/discover_art_img/art_img_1.jpg);
    background-size: cover;
    
}
.discover_grid_art_img_2{
    grid-area:2/1/2/2;
    background: url(../img/discover/discover_art_img/art_img_2.jpg);
    background-size: cover;
}
.discover_grid_art_img_3{
    grid-area:3/2/3/3;
    background: url(../img/discover/discover_art_img/art_img_3.jpg);
    background-size: cover;
}


/*VENTA/COMMUNITY */
.community{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    padding: 1%;
}
.community h2{
    font-family:'Consolas', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    margin: 2% 0% 2%;
}
.img_container{
    position: relative;
    display: inline-block;
    text-align: center;
}
.textbox_3{
    transition:0.5s;
    opacity:0;
    background: rgba(0,0,0,0.61);
    position: absolute;
    bottom:0.5%;
    left:0%;
    
}
.textbox_3 p{
    color: blanchedalmond;
}
.img_container:hover .textbox_3{
    opacity:1;
}
.casas_ex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-column-gap:1%;
    grid-row-gap: 1%;
}

.casas_ex div:first-child{grid-area: 2/1/2/2;}
.casas_ex div:nth-child(2){grid-area:1/2/1/3}
.casas_ex div:nth-child(3){grid-area:1/3/1/4;}
.casas_ex div:nth-child(4){grid-area:1/1/1/2 ;}
.casas_ex div:nth-child(5){grid-area:2/2/2/3;}
.casas_ex div:nth-child(6){grid-area:2/3/2/4;}

/*Casas*/
/*0*/
/*1*/
.casa_venta{
    display:flex;
    align-items: center;
    margin:2.5%;
    justify-content: center;
}
.casa_titulo{
    border-left-style: none;
    background: #ECE2D0;
    width: 1000px;

}
.casa_titulo h3{
    font-size: 3rem;
    font-family: 'Didact Gothic', sans-serif;
}
.casa_titulo h3 span{
    display: block;
    margin: 2.5%;
}
.casa_info{
    background:#A26769;
    padding:5% 1%;
    height: 857px;
    text-align: center;
    list-style-type: none;
    font-family: 'Didact Gothic', sans-serif;
    color:#ECE2D0;
    font-size: 1.5rem;
} 
.casa_venta_2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mapa{
    margin: 2.5%;
    border: solid 0.25px;
}
.mas_casas{
    background-color:rgb(233,225,211);;
}
.mas_casas h3{
    padding: 0.5%;
    margin-bottom: 2.5%;
    font-size: 2rem;
    font-family: 'Didact Gothic', sans-serif;
}
.mas_casas__ul{
    display: flex;
    justify-content: space-between;
}
.contact{
    display: flex;
    background:#A26769;
    height:590px; ;
}
.contact__2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto auto auto;
    column-gap: 2%;
    padding: 5% ;
}
.contact__2 p{
    align-self: center;}
.contact__2 p:nth-child(2){grid-area:2/2/2/3;}
.contact__2 p:nth-child(2){grid-area:3/2/3/3;}
.contact__2 p:nth-child(2){grid-area:4/2/4/3;}

.contact__2 ion-icon{
    
    align-self: center;
}

form{
    display: flex;
    flex-direction:column ;
    background: #ECE2D0;
    align-items: center;
    padding:2%
}
.contact__2 h3{
    grid-area:1/1/1/3;
    margin: 2.5% 2.5% 0%;
    color:#ECE2D0;
    font-size:3rem;
    font-family: 'Didact Gothic', sans-serif;
    padding:2.5%;
}
.contact__2 p {
    color: #ECE2D0;
}
.contact__2 ion-icon{width: 30px;height: 30px;}
.contact__2 ul li{
    margin: 2.5%;
    padding:2.5%;
}
textarea{
    resize: none;
    padding: 5%;
    width:300px;
    height: 150px;
    margin: 5%;
    font-family: 'Didact Gothic', sans-serif;
    color:#707070;
    background: #ECE2D0;
    font-size: 1rem;
}
.fullname,.mail{
    margin: 5%;
    padding: 5%;
    width:300px;
    font-family: 'Didact Gothic', sans-serif;
    background: #ECE2D0;
    color:#707070;
    font-size: 1rem;
    border: 0.25px solid;
}
.btn_1{
    margin: 5%;
    padding: 5%;
    width:300px;
    border-radius: 25px;
    font-family: 'Didact Gothic', sans-serif;
    background: #ECE2D0;
    color:#707070;
    font-size: 1rem;
}
.btn_1:hover{
        color:#ECE2D0;
        background-color:#A26769;
}
.mas_casas{padding: 2.5%;margin: 2.5% 0%;}
/*SLIDER DEMO ---------------------------------------------------------------------------------------*/
.slider {
  width: 1000px;
  text-align: center;
  overflow: hidden;
  background:  #A26769;
}

.slides {
  
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  
  
  
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: #ECE2D0;
  border:1px solid;
  border-radius: 50px;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 1000px;
  height: 650px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}


.slider img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*SLIDER DEMO FIN ---------------------------------------------------------------------------------------*/



/*FOOTER*/
footer{
    background-color: #ECE2D0;   

}
footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom:2%;
    
}
footer div{
    width: 25%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer div h2 a{
    color:#707070;
    font-size: 2rem;
    text-decoration: none;
    font-family:'Consolas', sans-serif; }
footer p {
    color:#707070;
    margin-top: 0.5%;
}
footer div ul{
    width: 45%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
footer div ul li a img{
    width: 30px;
    height: 30px;
    margin: 5%;
}
footer h3{
    font-size: 5rem;
    font-family: 'Kalam', cursive;
    color: #B76700;
    order: 1;
    margin: 2%;
}
footer div:first-child{order: 2;}
.netsoc{padding: 0%;}
.netsoc{width: 500px;}
.netsoc h2 a{font-size: 3.2rem;padding-bottom: 0.5%;
}
/*RESPONSIVE */
/*SMARTHPHONE 767px */
@media only screen and (max-width:767px){
    /* MENU */
    .logo h1 a{font-size: 1rem;}
    .menu{display: none;}

    .menu_responsive{display: block;}
    .menu_responsive a {
      text-decoration: none;
      color:#707070;
      font-size: 0.5rem;
      padding: 15px;
      display:inline-block;
    }
    .menu_responsive ul {
      display: inline;
      margin: 0;
      padding: 0;
    }
    .menu_responsive ul li {display: inline-block;}
    .menu_responsive ul li:hover ul {display: block;}
    .menu_responsive ul li ul {
      position: absolute;
      width: 100px;
      top:6%;
      right: 5%;
      display: none;
      z-index: 3;
    }
    .menu_responsive ul li ul li { 
      background: #E8E0D1; 
      display: block; 
    }
    .menu_responsive ul li ul li a {display:block;} 
    .menu_responsive ul li ul li:hover {background:#D5B9B2;}

    /*FIN MENU */

     /*FOOTER */
     footer section div h3{font-size: 1rem;padding-top:10%;}
     .netsoc{width: 150px;}
     .netsoc h2{width: 150px;}
     .netsoc h2 a{font-size: 1rem;margin:0%;line-height:0rem;}
     .netsoc h2 span{text-align: center;}
     .netsoc ul{width: 70px;}
     .netsoc img{width: 15px;height: 15px;}
     footer p{font-size: 0.7rem;}
     /*FIN FOOTER */

    /*HOME*/

    /*SECTION 1 */
    .textbox{top:25%;left:2%;width: 250px;}
    .textbox h2{font-size: 1.5rem;}
    .textbox_p{display: none;}
    .textbox_p_responsive{display:inline-block;font-size: 0.8rem;}
    .relleno{display: none;}

    /*SECTION 2 */
    .textbox_2{padding: 5%;}
    .textbox_2 h2{font-size: 1.2rem;width: 250px;font-weight: bold;}
    .textbox_2 p{font-size: 1.2rem;margin-top: 10%;}
    .textbox_2 h4{width: 200px;margin-top: 15%;}
    .textbox_2 h4 a{font-size: 1.1rem;}
    /*FIN HOME */

   /*DISCOVER */
    .discover_img_fondo_text{left: 0%;top: 0%;}
    .discover_img_fondo_text h2{font-size: 2rem;padding-top: 5%;}
    .discover_grid{grid-template-rows: repeat(6,0.5fr);grid-template-columns:1fr}
    .discover_grid h3{font-size:2rem}
    .discover_text_mod{padding:20% 5%;background: #f7f2ea;}
    .discover_text_mod p{margin: 5% 0%;font-size: 1.5rem;}
    .discover_img_size{height:450px}
    .discover_grid_art_1{grid-area: 1/1/2/3;}
    .discover_grid_art_img_1{grid-area: 2/1/3/3;}
    .discover_grid_art_2{grid-area: 3/1/4/3;}
    .discover_grid_art_3{grid-area: 5/1/6/3;}
    .discover_grid_art_img_2{grid-area: 4/1/5/3;}
    .discover_grid_art_img_3{grid-area: 6/1/7/3;}
    
    /*VENTA/COMMUNITY*/
    .casas_ex{
        grid-template-columns: 1fr;   
    }
    .community{margin:10% 0% 50%}
    .community h2{text-align: center;}
    .textbox_3{opacity: 1;}
    .casas_ex div a img{width:300px;}
    .casas_ex div:nth-child(1){grid-area:1/1/2/2;}
    .casas_ex div:nth-child(2){grid-area:2/1/3/2;}
    .casas_ex div:nth-child(3){grid-area:3/1/4/2;}
    .casas_ex div:nth-child(4){grid-area:4/1/5/2;}
    .casas_ex div:nth-child(5){grid-area:5/1/6/2;}
    .casas_ex div:nth-child(6){grid-area:6/1/7/2;}
    .img_size{width: 300px;}
    /*CASA EN VENTA */
    .casa_venta{flex-direction: column;}

    .casa_venta_2{flex-direction: column;}
    .mapa iframe{width:350px;height: 350px;}

    .mas_casas{display: none;}
    /*SLIDER */
    .slider{width: 350px;}
    .slides > div{width:350px;height:350px;}
    /*FIN */
    form{display: none;}
    .casa_info{order: 1;}
    .casa_titulo{width:350px;}
    .casa_titulo h3{font-size: 2rem;}
    .contact{height: 350px;}
    .contact__2{grid-template-columns:auto 1fr;}
    .contact__2 p{font-size: 1.5rem;}
}
@media only screen and (max-width:1279px) and (min-width:653px){
    .casas_ex{
        grid-template-columns: 1fr;   
    }
    .community{margin:5% 0% 50%}
    .community h2{text-align: center;}
    .textbox_3{opacity: 1;width:100%;}
    .textbox_3 p{font-size: 2rem;}
    .casas_ex div a img{width:500px;}
    .casas_ex div:nth-child(1){grid-area:1/1/2/2;}
    .casas_ex div:nth-child(2){grid-area:2/1/3/2;}
    .casas_ex div:nth-child(3){grid-area:3/1/4/2;}
    .casas_ex div:nth-child(4){grid-area:4/1/5/2;}
    .casas_ex div:nth-child(5){grid-area:5/1/6/2;}
    .casas_ex div:nth-child(6){grid-area:6/1/7/2;}
    .img_size{width: 500px;}
    /*CASA EN VENTA */
    .casa_venta{flex-direction: column;}

    .casa_venta_2{flex-direction: column;}
    .mapa iframe{width:350px;height: 350px;}

    .mas_casas{display: none;}
    /*SLIDER */
    .slider{width: 653px;}
    .slides > div{width: 653px;height: 500px;}
    /*FIN */
    form{display: none;}
    .casa_info{order: 1;width: 653px;padding: 5%;height: 100%;}
    .casa_titulo{width:100%;}
    .casa_titulo h3{font-size: 2rem;}
    .contact{height: 350px;width: 100%;display: block;}
    .contact__2{margin: 0 auto;grid-template-columns:auto 1fr;}
    .contact__2 p{font-size: 1.5rem;}
    .mapa{border: none;}
    .mapa iframe{width: 653px;}
}
