<footer>
    <section>
        <div class="netsoc">
            <h2>
                <a href="index.html">BIG LITTLE <span>HOUSE</span></a>
            </h2>
            <ul>
                <li><a href="https://www.instagram.com"><img src="img/instalogo.png" alt="insta"></a></li>
                <li><a href="https://www.facebook.com"><img src="img/facebooklogo.png" alt="face"></a></li>
                <li><a href="https://www.youtube.com"><img src="img/youtubelogo.png" alt="y2"></a></li>

            </ul>
        </div>
        <div><h3>#MINIMALISTWAY</h3></div>
    </section>
        <p>Copyright © 1999-2020 Big Dream co. Calle Siempreviva 743 CP 1234, Springfield, CABA</p>
</footer>
