<section class="community">
    <h2>Eleji tu proximo hogar</h2>

    <div class="casas_ex">
        <div class="img_container">
            <a href="casa1.html"><img src="../../assets/img/casas/casa.jpg" alt="casa"> </a>
            
            <div class="textbox_3">
                <p>250000$ ALQUILAR BUENOS AIRES ARGENTINA</p>
            </div>
        </div>

        <div class="img_container">
           <a href="casa1.html"><img src="../../assets/img/casas/casa1.jpg" alt="casa"> </a> 
            <div class="textbox_3">
                <p>170000$ ALQUILAR BUENOS AIRES ARGENTINA</p>
            </div>
        </div>

        <div class="img_container">
            <a href="casa1.html"><img src="../../assets/img/casas/casa2.jpg" alt="casa"> </a> 
            <div class="textbox_3">
                <p>360000$ ALQUILAR T.DEL FUEGO ARGENTINA</p>
            </div>
        </div>

        <div class="img_container">
            <a href="casa1.html"><img src="../../assets/img/casas/casa3.jpg" alt="casa"> </a> 
            <div class="textbox_3">
                <p>450000$ ALQUILAR NEUQUEN ARGENTINA</p>
            </div>
        </div>

        <div class="img_container">
            <a href="casa1.html"><img src="../../assets/img/casas/casa4.jpg" alt="casa"> </a> 
            <div class="textbox_3">
                <p>550000$ ALQUILAR SAN JUAN ARGENTINA</p>
            </div>
        </div>

        <div class="img_container">
            <a href="casa1.html"><img src="../../assets/img/casas/casa5.jpg" alt="casa"> </a> 
            <div class="textbox_3">
                <p>760000$ ALQUILAR CORDOBA ARGENTINA</p>
            </div>
        </div>
    </div>
</section>
