<section class=discover>
    <div class="discover_img_fondo">
    <img src="../../assets/img/discover/fondo_1.jpg" alt="">
        <div class="discover_img_fondo_text">
            <h2>¿Porque vivir en un Tiny house?</h2>
        </div>
    </div>
</section>
<section class="discover_grid">
    <div class="discover_grid_art_1">
        <div class="discover_text_mod">
            <h3>1. ECONOMIA</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quasi itaque corrupti officiis architecto officia iste ratione sint, modi, mollitia consequatur, velit nam? Corrupti itaque vero beatae, laborum doloremque labore!</p>
        </div>
    </div>
    <div class="discover_grid_art_2">
        <div class="discover_text_mod">
            <h3>2. ECOLOGIA</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quasi itaque corrupti officiis architecto officia iste ratione sint, modi, mollitia consequatur, velit nam? Corrupti itaque vero beatae, laborum doloremque labore!</p>
        </div>
    </div>
    <div class="discover_grid_art_3">
        <div class="discover_text_mod">
            <h3>3. PAZ MENTAL</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime quasi itaque corrupti officiis architecto officia iste ratione sint, modi, mollitia consequatur, velit nam? Corrupti itaque vero beatae, laborum doloremque labore!</p>
        </div>        
    </div>
    <div class="discover_grid_art_img_1 discover_img_size"></div>
    <div class="discover_grid_art_img_2 discover_img_size"></div>
    <div class="discover_grid_art_img_3 discover_img_size"></div>
</section> 
