<section class="home">
    <div class="imgbox">
        <img src="../../assets/img/fondo_1.jpg" alt="fondo">
        <div class="textbox">
            <h2>Minimalist Way</h2>
            <p class="textbox_p_responsive">Somos Big Little House una empresa dedicada a la manufacturacion de Tiny houses</p>
            <p class="textbox_p"> Bienvenidos al maravilloso mundo de las tiny houses, nosotros somos Big Little Houses
                una empresa dedicada a la manufacturacion de Tiny houses,que son hogares faciles de
                transportar ,ecologicos y de economico precio pensadas para personas que les gusta 
                viajar o que prefieren vivir en un ambiente optimizado. 
            </p>
        </div>
    </div>
    <div class="relleno">.</div>
    <div class= "home_2">
        <div class="textbox_2">
            <h2>¿POR QUE VIVIR EN UNA TINY HOUSE?</h2>
            <p> El movimiento Tiny House se caracteriza por una filosofía basada en la sencillez y en el respeto al medio ambiente,
                con la finalidad de minimizar los recursos y contaminar lo menos posible, ya que las viviendas están construidas 
                con materiales ecológicos y ocupan poco espacio.<br><br>
            
                De igual modo, sus seguidores consideran que simplificar el lugar en el que uno vive, agranda y enriquece la vida,
                ya que se gestiona mejor el espacio, se tiene más libertad, no se acumulan cosas innecesarias y se fomenta un ahorro 
                que posibilita disfrutar de otras experiencias vitales.
            </p>
            <h4>
                <a href="discover.html">Informate mas aca</a>
            </h4>
        </div>
    </div>
</section>
